:root {
   --bs-primary: #fd4f00;
   --bs-primary-rgb: 253, 79, 0;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
   --bs-gutter-x: 2rem;
   width: 100%;
   max-width: 100%;
}

.fs-small {
   font-size: small !important;
}

.link-hover {
   color: inherit !important;
   opacity: .75;
}

.link-hover:hover,
.link-hover:focus,
.link-hover.active {
   opacity: 1;
}

.underline-hover {
   text-decoration: none;
}

.underline-hover:hover,
.underline-hover:focus,
.underline-hover.active {
   text-decoration: underline;
}

@media (min-width: 768px) {

   .container,
   .container-sm,
   .container-md {
      width: 96%;
      max-width: 1320px;
   }
}

@media (min-width: 992px) {
   .container-lg {
      width: 96%;
      max-width: 1320px;
   }
}

@media (min-width: 1200px) {
   .container-xl {
      width: 96%;
      max-width: 1320px;
   }
}

@media (min-width: 1400px) {
   .container-xxl {
      width: 96%;
      max-width: 1320px;
   }
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

header.page-header {
   position: --webkit-sticky;
   position: sticky;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1020;
}

main.main-content {
   flex-grow: 1;
}

/* ----------------- menu */
@media (min-width: 768px) {
   #menu {
      background-color: var(--bs-gray-200) !important;
   }
}

/* ----------------- runtext */
.runtext {
   height: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}