<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACOSTORE &bull; INDRACO Roasting fine exquisite coffee since 1971</title>
   <link rel="shortcut icon" href="../../assets/img/icon-indraco.ico" type="image/x-icon">
   <link rel="stylesheet" href="../../assets/vendors/bootstrap-5.3.7-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../assets/vendors/fontawesome-free-6.7.2-web/css/all.min.css">
   <link rel="stylesheet" href="../../assets/fonts/HelveticaNeue/HelveticaNeue.css">
   <link rel="stylesheet" href="css/global.css">
   <style>
      /* * {outline: solid 1px green;} */
   </style>
</head>
<body>

   <script src="layout/marquee.js"></script>
   <script src="layout/page-header.js"></script>
   <script src="layout/navbar.js"></script>

   <section class="bg-dark home-banner mb-lg-5" aria-label="home banner">
      <div class="d-lg-none" style="aspect-ratio: 1/1;"></div>
      <div class="d-none d-lg-block" style="aspect-ratio: 3.6/1;"></div>
   </section>

   <div class="container flex-grow-1">
      <div class="row align-items-lg-baseline gx-lg-5">

         <div class="col col-12 col-lg-auto sticky-top">
            <div class="sticky-sidebar sticky-top">

               <section class="bg-body pb-3 py-3">
                  <div class="row g-2">
                     <div class="col col-auto d-lg-none">
                        <button class="btn btn-outline-dark rounded-0 w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                           <i class="fas fa-filter"></i> <span>FILTER</span>
                        </button>
                     </div><!-- end col -->
                     <div class="col col-lg-12">
                        <form action="">
                           <div class="input-group border border-dark">
                              <input type="search" class="form-control rounded-0 border-0" placeholder="Search">
                              <button class="btn rounded-0">
                                 <i class="fas fa-search"></i>
                              </button>
                           </div>
                        </form>
                     </div><!-- end col -->
                  </div><!-- end row -->
               </section>
   
               <aside id="sidebar" class="offcanvas-lg offcanvas-start" z-index="-1" aria-label="filter menu">
                  <div class="offcanvas-header">
                     <button class="btn-close" data-bs-toggle="offcanvas" data-bs-target="#sidebar"></button>
                  </div>
                  <div class="offcanvas-body">
                     <ul class="nav flex-column text-capitalize">
                        <li class="nav-item">
                           <a href="#" class="nav-link text-reset px-0">kopi</a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link text-reset px-0">kopi</a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link text-reset px-0">kopi</a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link text-reset px-0">kopi</a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link text-reset px-0">kopi</a>
                        </li>
                        <li class="nav-item">
                           <a href="#" class="nav-link text-reset px-0">kopi</a>
                        </li>
                     </ul>
                  </div>
               </aside>
               
            </div>
         </div><!-- end col -->

         <div class="col col-12 col-lg">
            <main aria-label="main content">
               <article class="vh-100">
                  <h4>section 1</h4>
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet velit, ratione quia ipsam quas possimus ducimus culpa accusantium doloribus inventore aperiam, explicabo quos voluptatum accusamus necessitatibus praesentium laborum fugiat nostrum.
                     <br><br>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptas, excepturi debitis qui deserunt laboriosam incidunt corporis a nemo aliquam, quos magnam est delectus ipsa veritatis sapiente labore alias praesentium?
                  </p>
               </article>

               <article class="vh-100">
                  <h4>section 2</h4>
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet velit, ratione quia ipsam quas possimus ducimus culpa accusantium doloribus inventore aperiam, explicabo quos voluptatum accusamus necessitatibus praesentium laborum fugiat nostrum.
                     <br><br>
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptas, excepturi debitis qui deserunt laboriosam incidunt corporis a nemo aliquam, quos magnam est delectus ipsa veritatis sapiente labore alias praesentium?
                  </p>
               </article>
            </main>
         </div><!-- end col -->

      </div><!-- end row -->
   </div><!-- end container -->

   <script src="layout/page-footer.js"></script>
   
   <script src="../../assets/vendors/jquery-3.7.1.min.js"></script>
   <script src="../../assets/vendors/bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js"></script>
   <script src="js/global.js"></script>
</body>
</html>