<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>INDRACOSTORE</title>
   <link rel="shortcut icon" href="../../assets/img/icon-indraco.ico" type="image/x-icon">
   <link rel="stylesheet" href="../../assets/vendors/bootstrap-5.3.7-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../assets/fonts/HelveticaNeue/HelveticaNeue.css">
   <link rel="stylesheet" href="css/global.css">
   <style>
      * {
         outline: solid 1px /* green */ transparent;
      }
   </style>
</head>
<body>
   <div class="runtext text-bg-primary">
      <div class="container-md px-0 px-md-3">
         <div class="marquee">
            <div class="marquee-text" id="marqueeText">
               Selamat datang di INDRACOSTORE! Promo menarik setiap hari! <i class="fas fa-chevron-right"></i>
            </div>
         </div>
      </div><!-- end container -->
   </div><!-- end runtext -->
   <header class="page-header" aria-label="page header">
      <nav class="navbar navbar-expand-md d-block" aria-label="main navigation bar">
         <div class="container-md">
            <h1 class="navbar-brand m-0 lh-base">
               <a href="index.html" class="text-decoration-none text-reset d-flex">
                  <img src="../../assets/img/logo-indracostore.png" width="100%" height="auto" alt="INDRACOSTORE" style="max-width: 16rem;">
               </a>
            </h1>
            <button class="navbar-toggler rounded-0" data-bs-toggle="offcanvas" data-bs-target="#menu">
               <span class="navbar-toggler-icon"></span>
            </button>
         </div><!-- end container -->
         <div class="offcanvas-md offcanvas-end" z-index="-1" id="menu">
            <div class="offcanvas-header">
               <button class="btn-close navbar-toggler rounded-0" data-bs-toggle="offcanvas" data-bs-target="#menu"></button>
            </div>
            <div class="offcanvas-body justify-content-center">
               <ul class="navbar-nav text-uppercase column-gap-md-3">
                  <li class="nav-item">
                     <a href="#" class="nav-link px-0" id="nav-produk">
                        <span class="link-text">produk</span>
                     </a>
                  </li>
                  <li class="nav-item d-none d-md-block py-2"><div class="vr h-100 bg-dark"></div></li>
                  <li class="nav-item">
                     <a href="#" class="nav-link px-0" id="nav-mesin">
                        <span class="link-text">mesin & peralatan</span>
                     </a>
                  </li>
                  <li class="nav-item d-none d-md-block py-2"><div class="vr h-100 bg-dark"></div></li>
                  <li class="nav-item">
                     <a href="#" class="nav-link px-0" id="nav-promo">
                        <span class="link-text">promo</span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav><!-- end navbar -->
   </header><!-- end page header -->
   <main class="main-content" aria-label="main content">
      <section class="section-content" aria-label="section content">
         <div class="container">
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste laudantium excepturi itaque odio earum culpa cum nisi rerum nam ea ducimus, quam autem soluta eveniet error voluptas. Ratione, adipisci?
            </p>
         </div><!-- end container -->
      </section><!-- end section content -->
   </main><!-- end main content -->
   <footer class="page-footer" aria-label="page footer"></footer><!-- end page footer -->
   <script src="../../assets/vendors/jquery-3.7.1.min.js.js"></script>
   <script src="../../assets/vendors/bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js"></script>
   <script src="js/global.js"></script>
</body>
</html>