<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="shortcut icon" href="../../assets/img/icon-indraco.ico" type="image/x-icon">
   <link rel="stylesheet" href="../../assets/vendors/bootstrap-5.3.7-dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../assets/vendors/fontawesome-free-6.7.2-web/css/all.min.css">
   <link rel="stylesheet" href="../../assets/fonts/HelveticaNeue/HelveticaNeue.css">
   <link rel="stylesheet" href="css/global.css">
   <style>
      /* * {outline: solid 1px green;} */
   </style>
</head>
<body>

   <div class="runtext text-bg-primary">
      <div class="container-lg py-1">
         <marquee behavior="" direction="" class="d-block">
            <a href="#" class="text-reset">
               SUMMER SALE BUY 2 GET 1 FREE | FREE SHIPPING FOR ORDERS OVER S$30 | KRIS+ IS BACK - GET YOUR 20% OFF NOW!
            </a>
         </marquee>
      </div><!-- end container -->
   </div><!-- end runtext -->

   <header class="bg-body position-sticky top-0 end-0 start-0">
      <div class="container d-flex align-items-center">
         <h1 class="me-auto">
            <a href="index.html" class="text-reset text-decoration-none">
               <img src="" alt="INDRACOSTORE" class="brand-img" width="100%" height="auto">
            </a>
         </h1>
         <button class="btn rounded-0 d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#menu">
            <i class="fas fa-bars"></i>
         </button>
      </div><!-- end container -->
   </header>

   <nav style="background-color: var(--bs-gray-200);">
      <div class="container">
         <div id="menu" class="offcanvas-lg offcanvas-end" z-index="-1">
            <div class="offcanvas-header">
               <button class="btn-close rounded-0" data-bs-toggle="offcanvas" data-bs-target="#menu"></button>
            </div>
            <div class="offcanvas-body">
               <ul class="nav flex-column flex-lg-row justify-content-lg-center w-100">
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        product
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        product
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="nav-link">
                        product
                     </a>
                  </li>
               </ul>
            </div>
         </div><!-- end menu -->
      </div><!-- end container -->
   </nav>

   <div class="container">
      <div class="row">

         <div class="col col-12 col-lg-auto position-sticky end-0 start-0" style="top: 45px;">
            <div class="bg-body d-lg-none">
               <button class="btn btn-outline-dark rounded-0 w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
                  FILTER
               </button>
            </div>
            <aside id="sidebar" class="offcanvas-lg offcanvas-start" z-index="-1">
               <div class="offcanvas-header">
                  <button class="btn-close" data-bs-toggle="offcanvas" data-bs-target="#sidebar"></button>
               </div>
               <div class="offcanvas-body">
                  <form action="">
                     <div class="input-group border border-dark">
                        <input type="search" class="form-control rounded-0 border-0">
                        <button class="btn rounded-0">
                           <i class="fas fa-search"></i>
                        </button>
                     </div>
                  </form>
               </div>
            </aside>
         </div><!-- end col -->

         <div class="col col-12 col-lg">
            <main>
               <div class="vh-100">
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis laudantium incidunt maiores, consectetur temporibus commodi deleniti corrupti, explicabo in consequatur facilis, repellat animi dolorum quo iure accusantium nihil asperiores sed.
                  </p>
                  <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia atque perferendis est dicta rerum dolorem temporibus rem odit a quam, totam doloribus, eum quasi labore illo! Asperiores magni illo corrupti.
                  </p>
               </div>
               <div class="vh-100"></div>
            </main>
         </div><!-- end col -->

      </div><!-- end row -->
   </div><!-- end container -->

   <script src="../../assets/vendors/jquery-3.7.1.min.js"></script>
   <script src="../../assets/vendors/bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js"></script>
   <!-- <script src="js/global.js"></script> -->
</body>
</html>